nav ul{
  display:flex;
  list-style-type: none;
  justify-content: space-between;
  padding:20px;
  /* border-bottom: 5px solid blue; */
  background-color: #2F4F4F;
  margin-top:0px;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}
nav  ul  li  a{
  color: white;
 text-decoration: none;
}
body{
  background-color: #FFD700;
}
#introduction{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}


#introduction img{
  border-radius: 50%;
  margin-top:40px;
}
#introduction p{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 42px;
  text-align:center;
  margin-top: 100px;
  /* padding-top:30px; */
  padding-bottom:30px;
  color:white;
}

#personal-information{
  display:grid;
  grid-template-columns:1fr 1fr;
  padding:15px;
}

#background{
  padding-right: 15px;
}
footer{
  margin-top: 200px;
  background-color: #2F4F4F;
}


#social-media-contact > ul{
  display:flex;
  list-style-type: none;
  justify-content: flex-end;
  height:80px;
  margin-bottom:0px;
  margin-top:0px;
  font-size: 40px;
}


#linkedin{
  margin-left:40px;
  margin-right:20px;
  margin-top: 7px;

}

#twitter{
  margin-top:8px;
}
